<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans"
      rel="stylesheet"
    />
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            'sans': '"Open Sans"'
          },
        },
      }
    }
  </script>
</head>
<body>
  <main class="min-h-screen h-full w-full my-10 flex justify-center font-sans">
    <div class="sm:w-9/12 md:w-10/12 lg:w-6/12">
      <a href="/" class="text-gray-700 flex space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
        <div>
          Home
        </div>
      </a>
      <h1 class="font-bold text-3xl text-center mt-10">{{ title }}</h1>
      <p class="text-left mt-2 text-gray-500">{{ created }}</p>
      <div class="mt-12 text-lg md:text-lg lg:text-md">
        {{ content | safe }}
      </div>
    </div>
  </main>
</body>
</html>