<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metas.title }}</title>
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metas.site }}">
  <link rel="alternate" href="/feed.json" type="application/json" title="{{ metas.site }}">
  <link rel="stylesheet" href="/styles.css" title="{{ metas.site }}">
  <meta
    name="description"
    content="{{ metas.description }}"
  />
  <script src="https://cdn.tailwindcss.com"></script>
  <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            'sans': '"Noto Sans"'
          },
        },
      }
    }
  </script>
</head>