<div class="w-full bg-gray-100">
  <nav class="flex justify-between text-center px-5 py-5">
    <div class="font-bold text-lg">
      {# cuvar's blog #}
    </div>
    <div class="flex justify-end">
      <div class="hover:underline">
        <a href="https://github.com/cuvar">GitHub</a>
      </div>
    </div>
  </nav>
  <div class="pt-10 pb-20 text-center">
    <p class="font-bold text-2xl">cuvar's blog</p>
  </div>
</div>