@font-face {
  font-family: "Inter" !important;
  font-weight: 100 900 !important;
  font-display: swap !important;
  font-style: normal !important;
  font-named-instance: "Regular" !important;
  src: url("fonts/inter.woff2?v=3.19") format("woff2") !important;
}
@font-face {
  font-family: "Inter" !important;
  font-weight: 100 900 !important;
  font-display: swap !important;
  font-style: italic !important;
  font-named-instance: "Italic" !important;
  src: url("fonts/inter-italic.woff2?v=3.19") format("woff2") !important;
}
