<div class="w-full bg-cgreen-600 text-gray-200">
  <div class="pt-10 pb-10 text-center">
    <p class="font-bold text-2xl">cuvar's blog</p>
    <div class="mt-10 mx-10 sm:mx-20 md:mx-40 lg:mx-60">
      <p class="">Hey there, welcome on my blog! I'm Luca, computer science student based in German. I write about everything that comes to my mind or interests me - whether it's about tech, sports, science, just random thoughts or other topics. Enjoy!</p>
    </div>
  </div>
</div>