---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Head from "../components/Head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// let title = "hello"
// let date = "hello"
// let tags = ["hello"];

const { frontmatter } = Astro.props;

function formatData(date: string) {
  const d = new Date(date);
  return d.toDateString();
}
---
<!DOCTYPE html>
<html lang="en">
<Head title={ SITE_TITLE } description={ SITE_DESCRIPTION }/>
<body>
  <div class="min-h-screen">
    <Navbar/>
    <main class="min-h-screen h-full mx-10 my-10 flex justify-center">
      <div class="w-full sm:w-8/12 md:w-10/12 lg:w-8/12 xl:w-6/12">
        <a href="/" class="text-slate-800 flex space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
          </svg>
          <div>
            Home
          </div>
        </a>
        <h1 class="font-bold text-3xl text-left sm:text-center mt-10">{ frontmatter.title }</h1>
        <p class="text-left mt-2 text-slate-500">{ formatData(frontmatter.pubDate) }</p>
        <div class="flex space-x-2 mt-4">
          {
            frontmatter.tags.map((tag: string) => {
              if (tag.toLowerCase() !== 'post') {
                return ( 
                  <div class="w-fit px-3 py-1 border-2 border-teal-500 rounded-lg">{tag}</div>
                )
              }
            })
          }
          
        </div>
        <article class="mt-12 text-lg sm:text-lg md:text-lg lg:text-md text-justify">
          <slot />
        </article>
      </div>
    </main>
    <Footer/>
  </div>
</body>
</html>