<!DOCTYPE html>
<html lang="en">
{% include "./components/head.njk" %}
<body>
  <div class="min-h-screen">
  {% include "./components/navbar.njk" %}
  <main class="min-h-screen h-full mx-10 my-10 flex justify-center">
    <div class="w-10/12 sm:w-8/12 md:w-8/12 lg:w-6/12 xl:w-4/12">
    {{ content | safe }}
    </div>
  </main>
  {% include "./components/footer.njk" %}
  </div>
</body>
</html>