---
layout: base.njk
---
<ul class="mt-20">
  {% for post in search.pages("post") %}
  <li class="mb-8">
    <a href="{{post.data.url}}" class="text-4xl font-bold">
    {{ post.data.title }}
    </a>
    <div class="text-gray-500">
      {{ post.data.created }}
    </div>
    <div class="text-gray-800 mt-2">
      {{ post.data.excerpt or post.data.summary}}
    </div>
    <div class="text-gray-800 mt-4 flex space-x-2">
      {% for tag in post.data.tags %}
        {% if not (tag.toLowerCase() == 'post') %}
          <div class="w-fit px-3 py-1 border-2 border-teal-500 rounded-lg">
            {{tag}}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>
</div>